.container {
	max-width: 550px;
	width: 90vw;
	background-color: white;
	border-radius: 1rem;
	overflow: hidden;
}

.cards {
	box-sizing: border-box;
	overflow-x: scroll;
	max-width: 550px;
	display: flex;
	flex-shrink: 1 0 auto;
	gap: 1rem;
	padding: 25px 36px;
	scroll-behavior: smooth;
}